﻿body {
    font-family: 'Segoe UI', sans-serif;
}

#title {
    float: left;
}

.header {
    border:2px solid black;
    border-bottom: none;
}

.button {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: normal;
    vertical-align: middle;
    font-size: 50px;
    color: black;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 1);
}

button:hover {
    border-color: white;
}

button:active {
    color: white;
    border-color: white;
    box-shadow: 0px 10px 60px rgba(255, 255, 255, .5);
}

#upperButtons {
    position: absolute;
    top: 25px;
    right: 0;
}

#prevMonthButton {
    margin-top: 5px;
    float: left;
    margin-right: 15px;
}

#nextMonthButton {
    margin-top: 5px;
    float: left;
}   

.border {
    border: 1px solid black;
}

.grad {
    background: -webkit-linear-gradient(blue, darkblue) !important; 
    background: -o-linear-gradient(     blue, darkblue) !important;      
    background: -moz-linear-gradient(   blue, darkblue) !important;    
    background: linear-gradient(        blue, darkblue) !important;        
    color: white; 
}

#deleteBtn {
    background: -webkit-linear-gradient(red, darkred) !important; 
    background: -o-linear-gradient(     red, darkred) !important;      
    background: -moz-linear-gradient(   red, darkred) !important;    
    background: linear-gradient(        red, darkred) !important;        
    color: white; 
    display: none;
}

.shadow {
    box-shadow: 2px 2px 20px black;
}

.calendar {
    margin-right: 10%;
}

.calendar > h1 {
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}   

.calendar > h1 > em{
    font-weight: 100;
    text-shadow: 0px 2px 2px darkblue;
    color: greenyellow;
}

h1{
    padding-left: 20px;
    padding-bottom: 10px;
}
.week-day {
    width: 14.28% !important;
    margin: 5px auto;
    text-align: center;
}

.week-days {
    border: 1px solid black;
}

.day {
    width: 14.28% !important;
    min-height: 100px !important;
    max-height: 100px;
    border: 1px solid black;
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.day:hover {
    background-color: greenyellow;
}

.other-month-days {
    background-color: lightgray;
}

h6 {
    margin-bottom: 0;
}

.label {
    float: left !important;
    display: table !important;
    max-width: 100%;
    margin-bottom: 5px;
    padding-top: 3px !important;
    overflow: hidden !important;
    overflow-y: hidden !important;
    cursor: pointer;
}

.label:hover {
    font-size: 11.5px;
}

.all-events {
    padding-left: 15px;
    height: 100%;
    border: 2px solid black;
}

h5 {
    padding: 5px;
    margin: 0 10px;
    border-bottom: 2px dashed black;
    word-wrap: break-word;
}

#modal {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;  
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 260px;
    box-shadow: 20px 20px 60px black;
    background-color: white;
    display: none;
}

.panel-body {
    border: 2px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.panel-heading {
    border: 2px solid black;
    border-bottom: none;
}

@media (max-width: 767px) {
    #modal {
        width: 95%;
    }
}


@media (max-width: 992px) {
    #upperButtons {
        right: 20px;
    }
}